/* src/POPOSList.css */

.POPOSList {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; /* 3 equal columns */
    grid-gap: 2em; /* Adds space between rows and columns */
    max-width: 1200px; /* Prevents content from stretching too wide */
    margin: auto; /* Centers the grid on the page */
    padding: 2em; /* Adds padding to prevent edge collisions */
  }
  
  /* Smaller screens and tablets */
  @media only screen and (max-width: 960px) {
    .POPOSList {
      grid-template-columns: 1fr 1fr; /* Switch to 2 columns */
    }
  }
  
  /* Small screens and mobile */
  @media only screen and (max-width: 700px) {
    .POPOSList {
      grid-template-columns: 1fr; /* Switch to 1 column */
    }
  }
  
  
  .POPOSList img {
    width: 100%;
    border-radius: 8px;
  }
  
  .POPOSList h2 {
    font-size: 1.2rem;
    margin-top: 10px;
  }
  